In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(12).reshape((4,3)),
                 columns = ["A", "B", "C"],
                 index = ["1行目", "2行目", "3行目", "4行目"])
df

     A   B   C
1行目  0   1   2
2行目  3   4   5
3行目  6   7   8
4行目  9  10  11

In [5]:
#　データの抽出 Seriesで返却される
df["A"]

1行目    0
2行目    3
3行目    6
4行目    9
Name: A, dtype: int64

In [6]:
# DataFrameで返却される
df[["A", "B"]]

     A   B
1行目  0   1
2行目  3   4
3行目  6   7
4行目  9  10

In [7]:
# 行で抽出
df[:2]

     A  B  C
1行目  0  1  2
2行目  3  4  5

In [9]:
df.loc[:, :]

     A   B   C
1行目  0   1   2
2行目  3   4   5
3行目  6   7   8
4行目  9  10  11

In [11]:
# df["A"]と同じ処理
df.loc[:, "A"]

1行目    0
2行目    3
3行目    6
4行目    9
Name: A, dtype: int64

In [12]:
# df[["A", "B"]]と同じ処理
df.loc[:, ["A", "B"]]

     A   B
1行目  0   1
2行目  3   4
3行目  6   7
4行目  9  10

In [13]:
df.loc["1行目", :]

A    0
B    1
C    2
Name: 1行目, dtype: int64

In [14]:
df.loc[["1行目", "3行目"], :]

     A  B  C
1行目  0  1  2
3行目  6  7  8

In [15]:
df.loc[["1行目"], ["A", "B"]]

     A  B
1行目  0  1

In [17]:
# iloc
df.iloc[1,1]

4

In [18]:
df.iloc[1:, 1]

2行目     4
3行目     7
4行目    10
Name: B, dtype: int64

In [19]:
df.iloc[1:, :2]

     A   B
2行目  3   4
3行目  6   7
4行目  9  10