In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123)
dates = pd.date_range(start="2020/04/01", periods=365)
dates

DatetimeIndex(['2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
               '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
               '2020-04-09', '2020-04-10',
               ...
               '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25',
               '2021-03-26', '2021-03-27', '2021-03-28', '2021-03-29',
               '2021-03-30', '2021-03-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [5]:
df = pd.DataFrame(np.random.randint(1, 31, 365), index=dates, columns=["rand"])
df

            rand
2020-04-01     2
2020-04-02     3
2020-04-03    11
2020-04-04    19
2020-04-05     8
...          ...
2021-03-27    30
2021-03-28    16
2021-03-29     7
2021-03-30     9
2021-03-31    27

[365 rows x 1 columns]

In [11]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(freq='W-MON')).sum(), columns=["rand"])
df_year

            rand
2020-04-06    70
2020-04-13    78
2020-04-20   130
2020-04-27    83
2020-05-04   136
2020-05-11    80
2020-05-18   136
2020-05-25   140
2020-06-01    81
2020-06-08    51
2020-06-15   148
2020-06-22   100
2020-06-29    77
2020-07-06    73
2020-07-13    59
2020-07-20   129
2020-07-27   109
2020-08-03   137
2020-08-10   106
2020-08-17   109
2020-08-24   120
2020-08-31   111
2020-09-07   148
2020-09-14   113
2020-09-21    90
2020-09-28    60
2020-10-05   101
2020-10-12   121
2020-10-19   139
2020-10-26   107
2020-11-02   108
2020-11-09   135
2020-11-16   101
2020-11-23   102
2020-11-30   107
2020-12-07   127
2020-12-14   129
2020-12-21   105
2020-12-28   159
2021-01-04    92
2021-01-11   117
2021-01-18   103
2021-01-25   106
2021-02-01    81
2021-02-08   126
2021-02-15    84
2021-02-22   115
2021-03-01   106
2021-03-08   127
2021-03-15   101
2021-03-22   117
2021-03-29   111
2021-04-05    36