In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_pickle("../df_202104health.pickle")
df

                   日付     歩数  摂取カロリー   歩数/カロリー  運動指数
date
2021-04-01 2021-04-01   6120  2500.0  2.448000   Low
2021-04-02 2021-04-02   5322  2200.0  2.419091   Low
2021-04-03 2021-04-03   6483  2300.0  2.818696   Low
2021-04-04 2021-04-04   8433  2000.0  4.216500   Mid
2021-04-05 2021-04-05  10022  1900.0  5.274737   Mid
2021-04-06 2021-04-06  10000  1920.0  5.208333   Mid
2021-04-07 2021-04-07   5553  1890.0  2.938095   Low
2021-04-08 2021-04-08   8294  2010.0  4.126368   Mid
2021-04-09 2021-04-09   6943  2000.0  3.471500   Mid
2021-04-10 2021-04-10   3835  2000.0  1.917500   Low
2021-04-11 2021-04-11  10200  2460.0  4.146341   Mid
2021-04-12 2021-04-12  15000  2300.0  6.521739  High
2021-04-13 2021-04-13   3455  1900.0  1.818421   Low
2021-04-14 2021-04-14   7910  2200.0  3.595455   Mid
2021-04-15 2021-04-15   4601  2250.0  2.044889   Low
2021-04-16 2021-04-16   5894  2150.0  2.741395   Low
2021-04-17 2021-04-17   6031  2090.0  2.885646   Low
2021-04-18 2021-04-18   6948  2100.0  3.308571   Mid
2021-04-19 2021-04-19  10566  2000.0  5.283000   Mid
2021-04-20 2021-04-20  14320  1950.0  7.343590  High
2021-04-21 2021-04-21   5830  2310.0  2.523810   Low
2021-04-22 2021-04-22   4590  1940.0  2.365979   Low
2021-04-23 2021-04-23   5394  1890.0  2.853968   Low
2021-04-24 2021-04-24   9385  1990.0  4.716080   Mid
2021-04-25 2021-04-25   8540  2440.0  3.500000   Mid
2021-04-26 2021-04-26   9597  2340.0  4.101282   Mid
2021-04-27 2021-04-27  10043  2330.0  4.310300   Mid
2021-04-28 2021-04-28   5389  2210.0  2.438462   Low
2021-04-29 2021-04-29   9845  2100.0  4.688095   Mid
2021-04-30 2021-04-30   9344  2060.0  4.535922   Mid

In [5]:
df_moved = pd.read_pickle("../df_202104moved.pickle")
df_moved

            運動_High  運動_Low  運動_Mid
date
2021-04-01        0       1       0
2021-04-02        0       1       0
2021-04-03        0       1       0
2021-04-04        0       0       1
2021-04-05        0       0       1
2021-04-06        0       0       1
2021-04-07        0       1       0
2021-04-08        0       0       1
2021-04-09        0       0       1
2021-04-10        0       1       0
2021-04-11        0       0       1
2021-04-12        1       0       0
2021-04-13        0       1       0
2021-04-14        0       0       1
2021-04-15        0       1       0
2021-04-16        0       1       0
2021-04-17        0       1       0
2021-04-18        0       0       1
2021-04-19        0       0       1
2021-04-20        1       0       0
2021-04-21        0       1       0
2021-04-22        0       1       0
2021-04-23        0       1       0
2021-04-24        0       0       1
2021-04-25        0       0       1
2021-04-26        0       0       1
2021-04-27        0       0       1
2021-04-28        0       1       0
2021-04-29        0       0       1
2021-04-30        0       0       1

In [6]:
# 列方向の連結
df_merged = pd.concat([df, df_moved], axis=1)
df_merged

                   日付     歩数  摂取カロリー   歩数/カロリー  運動指数  運動_High  運動_Low  運動_Mid
date
2021-04-01 2021-04-01   6120  2500.0  2.448000   Low        0       1       0
2021-04-02 2021-04-02   5322  2200.0  2.419091   Low        0       1       0
2021-04-03 2021-04-03   6483  2300.0  2.818696   Low        0       1       0
2021-04-04 2021-04-04   8433  2000.0  4.216500   Mid        0       0       1
2021-04-05 2021-04-05  10022  1900.0  5.274737   Mid        0       0       1
2021-04-06 2021-04-06  10000  1920.0  5.208333   Mid        0       0       1
2021-04-07 2021-04-07   5553  1890.0  2.938095   Low        0       1       0
2021-04-08 2021-04-08   8294  2010.0  4.126368   Mid        0       0       1
2021-04-09 2021-04-09   6943  2000.0  3.471500   Mid        0       0       1
2021-04-10 2021-04-10   3835  2000.0  1.917500   Low        0       1       0
2021-04-11 2021-04-11  10200  2460.0  4.146341   Mid        0       0       1
2021-04-12 2021-04-12  15000  2300.0  6.521739  High        1       0       0
2021-04-13 2021-04-13   3455  1900.0  1.818421   Low        0       1       0
2021-04-14 2021-04-14   7910  2200.0  3.595455   Mid        0       0       1
2021-04-15 2021-04-15   4601  2250.0  2.044889   Low        0       1       0
2021-04-16 2021-04-16   5894  2150.0  2.741395   Low        0       1       0
2021-04-17 2021-04-17   6031  2090.0  2.885646   Low        0       1       0
2021-04-18 2021-04-18   6948  2100.0  3.308571   Mid        0       0       1
2021-04-19 2021-04-19  10566  2000.0  5.283000   Mid        0       0       1
2021-04-20 2021-04-20  14320  1950.0  7.343590  High        1       0       0
2021-04-21 2021-04-21   5830  2310.0  2.523810   Low        0       1       0
2021-04-22 2021-04-22   4590  1940.0  2.365979   Low        0       1       0
2021-04-23 2021-04-23   5394  1890.0  2.853968   Low        0       1       0
2021-04-24 2021-04-24   9385  1990.0  4.716080   Mid        0       0       1
2021-04-25 2021-04-25   8540  2440.0  3.500000   Mid        0       0       1
2021-04-26 2021-04-26   9597  2340.0  4.101282   Mid        0       0       1
2021-04-27 2021-04-27  10043  2330.0  4.310300   Mid        0       0       1
2021-04-28 2021-04-28   5389  2210.0  2.438462   Low        0       1       0
2021-04-29 2021-04-29   9845  2100.0  4.688095   Mid        0       0       1
2021-04-30 2021-04-30   9344  2060.0  4.535922   Mid        0       0       1

In [7]:
df_202104xlsx = pd.read_excel("../20210401health.xlsx")
df_202104xlsx

           日付     歩数  摂取カロリー
0  2021-04-01   6120    2500
1  2021-04-02   5322    2200
2  2021-04-03   6483    2300
3  2021-04-04   8433    2000
4  2021-04-05  10022    1900
5  2021-04-06  10000    1920
6  2021-04-07   5553    1890
7  2021-04-08   8294    2010
8  2021-04-09   6943    2000
9  2021-04-10   3835    2000
10 2021-04-11  10200    2460
11 2021-04-12  15000    2300
12 2021-04-13   3455    1900
13 2021-04-14   7910    2200
14 2021-04-15   4601    2250
15 2021-04-16   5894    2150
16 2021-04-17   6031    2090
17 2021-04-18   6948    2100
18 2021-04-19  10566    2000
19 2021-04-20  14320    1950
20 2021-04-21   5830    2310
21 2021-04-22   4590    1940
22 2021-04-23   5394    1890
23 2021-04-24   9385    1990
24 2021-04-25   8540    2440
25 2021-04-26   9597    2340
26 2021-04-27  10043    2330
27 2021-04-28   5389    2210
28 2021-04-29   9845    2100
29 2021-04-30   9344    2060

In [ ]:
# 行方向の
df_merged2 = pd.concat([df_merged, df_202104xlsx], axis=0, sort=True)
df_merged2