In [8]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_excel('202103health.xlsx',
                   index_col="日付", 
                   parse_dates=True)
df

                 歩数  摂取カロリー
日付
2021-04-01   6120.0  2500.0
2021-04-02   5322.0  2200.0
2021-04-03      NaN     NaN
2021-04-04   8433.0  2000.0
2021-04-05  10022.0  1900.0
2021-04-06  10000.0  1920.0
2021-04-07   5553.0  1890.0
2021-04-08      NaN     NaN
2021-04-09      NaN     NaN
2021-04-10   3835.0  2000.0
2021-04-11  10200.0  2460.0
2021-04-12  15000.0  2300.0
2021-04-13   3455.0  1900.0
2021-04-14      NaN     NaN
2021-04-15   4601.0  2250.0
2021-04-16   5894.0  2150.0
2021-04-17   6031.0  2090.0
2021-04-18      NaN     NaN
2021-04-19  10566.0  2000.0
2021-04-20  14320.0  1950.0
2021-04-21      NaN     NaN
2021-04-22   4590.0  1940.0
2021-04-23   5394.0  1890.0
2021-04-24   9385.0  1990.0
2021-04-25   8540.0  2440.0
2021-04-26   9597.0  2340.0
2021-04-27  10043.0  2330.0
2021-04-28   5389.0  2210.0
2021-04-29      NaN     NaN
2021-04-30   9344.0  2060.0

In [22]:
# 欠損値の行の削除
df_drop = df.dropna()
df_drop

                 歩数  摂取カロリー
日付
2021-04-01   6120.0  2500.0
2021-04-02   5322.0  2200.0
2021-04-04   8433.0  2000.0
2021-04-05  10022.0  1900.0
2021-04-06  10000.0  1920.0
2021-04-07   5553.0  1890.0
2021-04-10   3835.0  2000.0
2021-04-11  10200.0  2460.0
2021-04-12  15000.0  2300.0
2021-04-13   3455.0  1900.0
2021-04-15   4601.0  2250.0
2021-04-16   5894.0  2150.0
2021-04-17   6031.0  2090.0
2021-04-19  10566.0  2000.0
2021-04-20  14320.0  1950.0
2021-04-22   4590.0  1940.0
2021-04-23   5394.0  1890.0
2021-04-24   9385.0  1990.0
2021-04-25   8540.0  2440.0
2021-04-26   9597.0  2340.0
2021-04-27  10043.0  2330.0
2021-04-28   5389.0  2210.0
2021-04-30   9344.0  2060.0

In [24]:
# 欠損値に０を格納
df_fillna = df.fillna(0)
df_fillna

                 歩数  摂取カロリー
日付
2021-04-01   6120.0  2500.0
2021-04-02   5322.0  2200.0
2021-04-03      0.0     0.0
2021-04-04   8433.0  2000.0
2021-04-05  10022.0  1900.0
2021-04-06  10000.0  1920.0
2021-04-07   5553.0  1890.0
2021-04-08      0.0     0.0
2021-04-09      0.0     0.0
2021-04-10   3835.0  2000.0
2021-04-11  10200.0  2460.0
2021-04-12  15000.0  2300.0
2021-04-13   3455.0  1900.0
2021-04-14      0.0     0.0
2021-04-15   4601.0  2250.0
2021-04-16   5894.0  2150.0
2021-04-17   6031.0  2090.0
2021-04-18      0.0     0.0
2021-04-19  10566.0  2000.0
2021-04-20  14320.0  1950.0
2021-04-21      0.0     0.0
2021-04-22   4590.0  1940.0
2021-04-23   5394.0  1890.0
2021-04-24   9385.0  1990.0
2021-04-25   8540.0  2440.0
2021-04-26   9597.0  2340.0
2021-04-27  10043.0  2330.0
2021-04-28   5389.0  2210.0
2021-04-29      0.0     0.0
2021-04-30   9344.0  2060.0

In [28]:
# 欠損値を一つ手前の行の値で補完
df_fill = df.fillna(method='ffill')
df_fill

                 歩数  摂取カロリー
日付
2021-04-01   6120.0  2500.0
2021-04-02   5322.0  2200.0
2021-04-03   5322.0  2200.0
2021-04-04   8433.0  2000.0
2021-04-05  10022.0  1900.0
2021-04-06  10000.0  1920.0
2021-04-07   5553.0  1890.0
2021-04-08   5553.0  1890.0
2021-04-09   5553.0  1890.0
2021-04-10   3835.0  2000.0
2021-04-11  10200.0  2460.0
2021-04-12  15000.0  2300.0
2021-04-13   3455.0  1900.0
2021-04-14   3455.0  1900.0
2021-04-15   4601.0  2250.0
2021-04-16   5894.0  2150.0
2021-04-17   6031.0  2090.0
2021-04-18   6031.0  2090.0
2021-04-19  10566.0  2000.0
2021-04-20  14320.0  1950.0
2021-04-21  14320.0  1950.0
2021-04-22   4590.0  1940.0
2021-04-23   5394.0  1890.0
2021-04-24   9385.0  1990.0
2021-04-25   8540.0  2440.0
2021-04-26   9597.0  2340.0
2021-04-27  10043.0  2330.0
2021-04-28   5389.0  2210.0
2021-04-29   5389.0  2210.0
2021-04-30   9344.0  2060.0

In [30]:
# 欠損値を他の値の平均値で補完
df_fillmean = df.fillna(df.mean())
df_fillmean

                      歩数       摂取カロリー
日付
2021-04-01   6120.000000  2500.000000
2021-04-02   5322.000000  2200.000000
2021-04-03   7897.130435  2117.826087
2021-04-04   8433.000000  2000.000000
2021-04-05  10022.000000  1900.000000
2021-04-06  10000.000000  1920.000000
2021-04-07   5553.000000  1890.000000
2021-04-08   7897.130435  2117.826087
2021-04-09   7897.130435  2117.826087
2021-04-10   3835.000000  2000.000000
2021-04-11  10200.000000  2460.000000
2021-04-12  15000.000000  2300.000000
2021-04-13   3455.000000  1900.000000
2021-04-14   7897.130435  2117.826087
2021-04-15   4601.000000  2250.000000
2021-04-16   5894.000000  2150.000000
2021-04-17   6031.000000  2090.000000
2021-04-18   7897.130435  2117.826087
2021-04-19  10566.000000  2000.000000
2021-04-20  14320.000000  1950.000000
2021-04-21   7897.130435  2117.826087
2021-04-22   4590.000000  1940.000000
2021-04-23   5394.000000  1890.000000
2021-04-24   9385.000000  1990.000000
2021-04-25   8540.000000  2440.000000
2021-04-26   9597.000000  2340.000000
2021-04-27  10043.000000  2330.000000
2021-04-28   5389.000000  2210.000000
2021-04-29   7897.130435  2117.826087
2021-04-30   9344.000000  2060.000000